<section class="chores-list container-section">
  <h2 class="chores-list__heading">Your Chores List</h2>

  <%= if Enum.empty? @chores do %>
    <a href="#" class="chores-list__add-chore">Add a chore</a>
  <% else %>
    <ul>
      <%= for chore <- @chores do %>
        <div class="chores-list__item-container">
          <li class="chores-list__chore-<%= chore.id %>">
            <%= chore.description %>
          </li>
        </div>
      <% end %>
    </ul>
  <% end %>
</section>
