<section class="group-dashboard container-section">
    <h4 class="group-dashboard__group-name"><%= @group.name %></h4>

    <%= if Enum.empty? @group_chores do %>
      <p class="chores-list__no-chores">You haven't added any chores yet.</p>
    <% else %>
      <ul class="collection">
        <%= for chore <- @group_chores do %>
            <%= render TergeoWeb.ChoreView, "chore_card.html", conn: @conn, chore: chore %>
        <% end %>
      </ul>
    <% end %>
</section>